.gridContainer {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
}

.grid {
  list-style: none;
  width: 40rem;
  margin: 0 0 3rem 0;
  padding: 0;
  background-color: whitesmoke;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.name {
	text-align: center;
	background-color: white;
	padding: 1.7rem;
	margin: 0;
}