.outputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  padding: 2.3rem;
}

.output {
  font-size: 1.1rem;
  white-space: pre-line;
  margin: 1.2rem;
}

.outputDate {
  white-space: pre-line;
  font-size: 0.8rem;
  font-style: italic;;
  margin: 0 2rem;
}