.outputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  margin-bottom: 4rem;
}

.output {
  font-size: 0.9rem;
  white-space: pre-line;
  margin: 0.5rem 0.3rem;
}

.outputDate {
  color: #888888;
  text-align: right;
  white-space: pre-line;
  font-size: 0.8rem;
  font-style: italic;;
  margin: 0 2rem;
}

@media (min-width: 40rem) {
  .outputContainer {
    padding: 1.7rem;
  }

  .output {
    font-size: 1.1rem;
    margin: 1.2rem;
  }
}

@media (max-width: 20rem) {

  .outputContainer {
    padding: 0;
  }

  .output {
    font-size: 0.8rem;
  }
}




