.gridContainer {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
}

.grid {
  list-style: none;
  width: 40rem;
  margin: 0 0 3rem 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}



.linksContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.linksContainer ul {
	list-style: none;
	font-weight: bold;
	color: #6495ED;
	background-color: white;
	display: flex;
	align-items: baseline;
	margin: 0;
	padding: 0;
}

.linksContainer li {
	cursor: pointer;
	display: inline-block;
	margin: 1.2rem;
}

.linksContainer li:active {
	color: #0047AB;
}

.linksContainer .active {
	color: #0047AB;
	cursor: auto;
}

.readingList {
	width: 100%;
	background-color: white;
	margin: 3rem 0rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.readingListItem {
	margin-left: 1.8rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.itemName {
	font-size: 1.5rem;
}

.name {
	text-align: center;
	background-color: white;
	padding: 1.7rem;
	margin: 0;
}





