.gridContainer {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
}

.grid {
  list-style: none;
  width: 40rem;
  margin: 0 0 3rem 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.linksContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: white;
}

.linksContainer ul {
	list-style: none;
	font-weight: bold;
	color: #6495ED;
	background-color: white;
	margin: 0;
	padding: 0;
}

.linksContainer li {
	cursor: pointer;
	display: inline-block;
	margin: 0.5rem 2.5rem;
}

.linksContainer li:active {
	color: #0047AB;
}

.linksContainer .active {
	color: #0047AB;
	cursor: auto;
}

.delete:hover {
	color: #0047AB;
}


.readingListContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.readingList {
	background-color: white;
	margin: 1rem auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.readingListItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0;
}

.itemImage {
	height: 7rem;
	width: 7rem;
}

.itemName {
	font-size: 1.5rem;
}

.name {
	text-align: center;
	background-color: white;
	padding: 0.5rem;
	margin: 0;
}

.screen {
  top: 0;
  left: 0;
  position: fixed;
  height: 1500px;
  width: 100%;
  background-color: white;
  z-index: 10;
  animation: fade 1000ms linear;
}

@keyframes fade {
  0% { opacity: 100; }
  100% { opacity: 0; }
}

@media (min-width: 40rem) {

	.grid {
	  width: 50rem;
	  margin: 0 0 3rem 0;
	}

	.readingList {
		margin: 3rem auto;
		margin-bottom: 12rem;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.readingListItem {
		margin-left: 1.8rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.linksContainer li {
		cursor: pointer;
		display: inline-block;
		margin: 1.2rem;
	}

	.name {
		text-align: center;
		background-color: white;
		padding: 1.7rem;
		margin: 0;
	}

	.itemName {
		font-size: 1.5rem;
	}

}










