.mainHeader {
  top: 0;
  left: 0;
  width: 100%;
  background-image: radial-gradient(circle 25rem at 99% -15%, rgb(238, 75, 43, 0.3) 99.9%, #880808);
  background-color: #880808;
  font-family: 'Fondamento', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.mainHeader ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.mainHeader li {
  margin: 0 var(--size-4);
}

.mainHeader a {
  color: lightyellow;
  font-size: 0.8rem;
}

.mainHeader a:hover,
.mainHeader a:active,
.mainHeader a.active {
  color: var(--color-grey-50);
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleContainer {
  margin: 0.5rem;
  display: flex;
  cursor: pointer;
  color: lightyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer a:hover,
.titleContainer a:active,
.titleContainer a.active {
  color: lightyellow;
}

.titleContainer .title {
  font-size: 2.4rem;
}
.titleContainer .secondLine {
  margin-top: -0.7rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .mainHeader ul {
    gap: 0.5rem;
  }

  .mainHeader a {
    font-size: var(--size-5);
  }
}