.noHeader {
  display: none;
}

.mainHeader {
  top: 0;
  left: 0;
  background-image: radial-gradient(circle 9rem at 105% 10%, rgb(238, 75, 43, 0.3) 99.9%, #880808);
  background-color: #880808;
  font-family: 'Fondamento', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.navigation a {
  cursor: pointer;
  color: lightyellow;
  font-size: 1.2rem;
  border-radius: 100%;
  user-select: none;
}

.navigation a:hover,
.navigation a:active,
.navigation a.active {
  color: lightyellow;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.titleContainer {
  margin: 0.5rem;
  display: flex;
  color: lightyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer a:hover,
.titleContainer a:active,
.titleContainer a.active {
  color: lightyellow;
}

.titleContainer .title {
  font-size: 2.0rem;
}
.titleContainer .secondLine {
  margin-top: -0.7rem;
  font-size: 1rem;
}

.profile {
  display: none;
}

.plainHeader {
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Fondamento', cursive;
  color: darkgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.plainTitleContainer {
  margin: 0.5rem;
  display: flex;
  color: darkgray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plainNav a {
  cursor: pointer;
  user-select: none;
  font-size: 1.2rem;
}

.plainNav a:hover,
.plainNav a:active,
.plainNav a.active,
.plainNav a:visited:hover {
  color: lightgray;
}

.plainNav a:visited {
  color: darkgray;
}

.plainTitleContainer a:hover,
.plainTitleContainer a:active,
.plainTitleContainer a.active {
  color: darkgray;
}

.plainTitleContainer a.visited {
  color: darkgray;
}

.plainTitleContainer .title {
  font-size: 2.0rem;
}
.plainTitleContainer .secondLine {
  margin-top: -0.7rem;
  font-size: 1rem;
}

.login {
  font-size: 1rem;
  padding: 0.3rem 0.9rem;
  border-radius: 25px;
}

.login:hover,
.login:active {
  background-color: #880808;
}

.plainLogin {
  font-size: 1rem;
  padding: 0.3rem 0.9rem;
  border-radius: 25px;
}

.plainLogin:hover,
.plainLogin:active {
  background-color: whitesmoke;
}

@media (min-width: 40rem) {

  .mainHeader {
    background-image: radial-gradient(circle 10rem at 80% -2%, rgb(238, 75, 43, 0.3) 99.9%, #880808);
    padding: 1rem;

  }

  .plainHeader {
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Fondamento', cursive;
    color: darkgray;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  .titleContainer .title {
    font-size: 2.4rem;
  }

  .titleContainer .secondLine {
    margin-top: -0.7rem;
    font-size: 1.2rem;
  }

  .plainTitleContainer {
    margin: 0.5rem;
    display: flex;
    cursor: pointer;
    color: darkgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .plainTitleContainer .title {
    font-size: 2.4rem;
  }
  .plainTitleContainer .secondLine {
    margin-top: -0.7rem;
    font-size: 1.2rem;
  }

  .profileIcon {
    display: none;
  }

  .profile {
    display: block;
  }

  .login {
    font-size: 1.2rem;
  }

}