.poemsContainer {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttonContainer {
	display: flex;
	justify-content: center;
}

.poemsContainer button {
  font: inherit;
  font-family: 'system-ui';
  font-size: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0 0.3rem;
}

.poemsContainer button:hover {
  background-color: lightgray;
}

.poemsContainer .newButton {
	color: white;
	background-color: #880808;
	width: 8rem;
	height: 4rem;
	margin-bottom: 0.5rem;
}

.poemsContainer .newButton:hover {
  background-color: #D70040;
}

@media (min-width: 40rem) {
  .poemsContainer {
    padding: 1.2rem;
  }
}




