.poemsContainer {
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttonContainer {
	width: 75vw;
	display: flex;
	justify-content: center;
}

.poemsContainer button {
  font: inherit;
  font-family: 'system-ui';
  font-size: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0 0.3rem;
}

.poemsContainer button:hover {
  background-color: lightgray;
}

.poemsContainer .newButton {
	color: white;
	background-color: #880808;
	width: 8rem;
	height: 5rem;
	margin-bottom: 1rem;
}

.poemsContainer .newButton:hover {
  background-color: #D70040;
}

.editorContainer {
  margin: 4rem;
  display: flex;
  flex-direction: column;
}

.editorMain {
  background-color: whitesmoke;
  font-size: 1.5rem;
  padding: 1.2rem;
  height: 15rem;
}



