.poemsContainer {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding-bottom: 20rem;
}

.buttonContainer {
	display: flex;
	justify-content: center;
}

.poemsContainer button {
  font: inherit;
  font-family: 'system-ui';
  font-size: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 65vw;
  margin: 0.3rem;
}

.poemsContainer button:hover {
  background-color: lightgray;
}

@media (min-width: 40rem) {
  .poemsContainer {
    padding: 1.2rem;
  }
}




