.profileContainer {
	position: absolute;
	display: flex;
	background-color: white;
	top: 16vh;
	right: 14vw;
	z-index: 10;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.5rem;
	border: 1px solid darkgray;
	border-radius: 4px;
}

.profileContainer ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0;
}

.profileContainer li {
	cursor: pointer;
	margin: 0.5rem 0.5rem;

}

.profileContainer a {
	color: #202020;
	font-family: 'Shippori Mincho';

}

.profileItem a:hover,
.profileItem a:visited,
 {
	color: #202020;
}

.logout {
	color: #202020;
	font-family: 'Shippori Mincho';
}

.horizontalRule {
	width:100%;
}

