.emptyContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.emptyContainer img {
	width: 200px;
	height: 200px;
}

@media (min-width: 40rem) {
	.emptyContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 3rem;
		padding-bottom: 10rem;
	}
}

@media (min-width: 40rem) {
	.emptyContainer img {
		width: 350px;
		height: 350px;
	}
}
