.accountContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.accountItemContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.2rem;
}

.accountItemContainer input {
	text-align: center;
	font-size: 2rem;
	width: 100%;
	padding: 1.2rem;
	border: none;
	outline: none;
}

.accountItemContainer button {
  font: inherit;
  font-family: 'system-ui';
  font-size: 1rem;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0 0.3rem;
}

.accountItemContainer button:hover {
	background-color: lightgray;
}


.accountItemContainer p {
	font-size: 1rem;
	font-weight: bold;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom:1.2rem;
}

.danger {
	font-family: 'system-ui';
	color: red;
}

.danger p {
	cursor: pointer;
}

.image {
  background-color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.2rem;
}

.invisible {
	display: none;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.fileName {
	font-family: 'system-ui';
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 8rem;
	margin: 1.2rem;
}

@media (min-width: 40rem) {
	.accountItemContainer {
		padding: 0 1.2rem;
		width: 75vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.2rem;
	}

	.accountItemContainer input {
		width: 75%;
	}
}






