.editorContainer {
  margin: 4rem;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  padding: 0.3rem;
}

.buttonStylePublish {
  font: inherit;
  font-family: 'system-ui';
  cursor: pointer;
  background-color: whitesmoke;
  border: 1px solid gray;
  padding: var(--size-2) var(--size-4);
  border-radius: 4px;
}

.buttonStylePublish:hover {
  background-color: lightgray;
}

.editorMain {
  background-color: white;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: right;
}