.authContainer {
  background-image: url("../../public/images/site/sun-logo-bw.svg");
  background-repeat: no-repeat;
  background-size: 55rem;
  background-position: bottom -12rem right 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.auth {
  background-color: #880808;
  padding: 0.5rem;
}

.auth h3 {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

.control {
  margin-bottom: 0.5rem;
  text-align: left;
}

.control label {
  font-size: 0.8rem;
  display: block;
  color: white;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 2px;
  border: 3px solid white;
  text-align: left;
  padding: 0.4rem;
}

.control input:focus {
  outline: 0;
  border: 3px solid lightblue;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actions button {
  width: 100%;
  cursor: pointer;
  font: inherit;
  color: #ffb3b3;
  background-color: #880808;
  border: none;
  outline: none;
  border-radius: 3px;
}

.actions button:hover,
.actions button:focus,
.actions button:active,
.actions button.active {
  color:  #ffcccc;
  outline: none;
}

.toggleContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

button.toggle {
  width: auto;
  font-size: 0.8rem;
  color: #ffb3b3;
  background-color: #880808;
}

.titleContainer {
  margin: 0.2rem;
  font-family: 'Fondamento', cursive;
  display: flex;
  color: lightyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.titleContainer .title {
  font-size: 2rem;
}

.titleContainer .secondLine {
  margin-top: -0.7rem;
  font-size: 1rem;
}

.titleContainer a {
  text-align: center;
  cursor: pointer;
  color: lightyellow;
  font-size: 1rem;
  border-radius: 100%;
  user-select: none;
}

.titleContainer a:hover,
.titleContainer a:active,
.titleContainer a.active {
  color: lightyellow;
}

@media (min-width: 40rem) {
  .authContainer {
    background-image: url("../../public/images/site/sun-logo-bw.svg");
    background-repeat: no-repeat;
    background-size: 86rem;
    background-position: 0;
    display: flex;
    flex-direction: row;;
    height: 100%;
  }

  .titleContainer {
    margin: 1rem;
  }

  .titleContainer .title {
  font-size: 2.4rem;
}

.titleContainer .secondLine {
    margin-top: -0.7rem;
    font-size: 1.2rem;
  }

  .auth {
    height: 100%;
    min-width: 30vw;
    background-color: #880808;
    padding: 1rem 1.4rem;
  }

  .auth h3 {
    color: white;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .toggleContainer {
    text-align: left;
  }

  .actions button {
    width: auto;
    cursor: pointer;
    font: inherit;
    color: #ffb3b3;
    background-color: #880808;
    border: none;
    outline: none;
  }

  button.toggle {
    width: auto;
    font-size: 0.8rem;
    background-color: #880808;
    margin: 0;
  }

  .actions button:hover,
  .actions button:focus,
  .actions button:active,
  .actions button.active {
    color:  #ffcccc;
    outline: none;
  }
}












