.authContainer {
  background-image: url("../../public/images/site/sun-logo-bw.svg");
  background-repeat: no-repeat;
  background-size: 86rem;
  background-position: 0;
  display: flex;
  flex-direction: row;;
  height: 100%;
}

.auth {
  height: 100%;
  min-width: 30vw;
  background-color: #880808;
  padding: 3rem 1.4rem;
}

.auth h1 {
  color: white;
}

.control {
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: left;
}

.control label {
  font-size: 0.8rem;
  display: block;
  color: white;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  font-size: 0.8rem;
  border-radius: 1px;
  border: 3px solid white;
  text-align: left;
  padding: 0.4rem;
}

.control input:focus {
  outline: 0;
  border: 3px solid lightblue;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: #ffb3b3;
  background-color: #880808;
  margin-top: 1rem;
  border: none;
  outline: none;
}

.actions button:hover,
.actions button:focus,
.actions button:active,
.actions button.active {

  color:  #ffcccc;
  outline: none;
}

button.toggle {
  font-size: 0.8rem;
}

.titleContainer {
  font-family: 'Fondamento', cursive;
  margin: 0.5rem;
  display: flex;
  color: lightyellow;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer .title {
  font-size: 2.4rem;
}

.titleContainer .secondLine {
  margin-top: -0.7rem;
  font-size: 1.2rem;
}













